[Ll]ibrary/
[Tt]emp/
[Uu]ser[Ss]ettings/
[Ll]ogs/
[Oo]bj/
[Pp]ackages/
[Pp]roject[Ss]ettings
.vs
Zombies.csproj
ZombieGame.sln
Weapons.csproj
Utility.csproj
UI.csproj
Player.csproj
Objective.csproj
MapGeneration.csproj
Assembly-CSharp.csproj